<div>
  <section class="topLogo">
    <img src="../../../assets/img/LogoMobile.png" alt="Logo IMA">
  </section>
  <section class="titleImage">
    <img src="../../../assets/img/rules.png" alt="acerca de nosotros">
  </section>
  <section class="titleCard">
    <h2 class="rightTitle">Reglamentos Arbitrales</h2>
    <h2 class="miniTitle">Reglamentos de Arbitraje en español</h2>
    <h2 class="leftTitle">CAIC</h2>
    <ul>
      <li>
        <a href="">Reglamento de Arbitraje de CAIC</a>
      </li>
    </ul>
  </section>
  <section class="leftBorderCard">
    <h2 class="leftTitle">CAM</h2>
      <ul>
        <li *ngFor="let file of CAM">
          <a href="">{{file}}</a>
        </li>
      </ul>
  </section>
  <section class="leftBorderCard">
    <h2 class="leftTitle">CANACO</h2>
      <ul>
        <li *ngFor="let file of CANACO">
          <a href="">{{file}}</a>
        </li>
      </ul>
  </section>
  <section class="leftBorderCard">
    <h2 class="leftTitle">CCI</h2>
   <ul>
     <li *ngFor="let file of CCI">
       <a href="">{{file}}</a>
     </li>
   </ul>
  </section>
  <section class="leftBorderCard">
    <h2 class="leftTitle">CNUDMI</h2>
   <ul>
     <li *ngFor="let file of CNUDMI">
       <a href="">{{file}}</a>
     </li>
   </ul>
  </section>
  <section class="leftBorderCard">
    <h2 class="leftTitle">ICDR</h2>
    <ul>
      <li *ngFor="let file of ICDR">
        <a href="">{{file}}</a>
      </li>
    </ul>
  </section>
  <section class="leftBorderCard">
    <h2 class="leftTitle">CIADI</h2>
    <ul>
      <li *ngFor="let file of CIADI">
        <a href="">{{file}}</a>
      </li>
    </ul>
  </section>
  <section class="leftBorderCard">
    <h2 class="leftTitle">LINEAMIENTOS</h2>
    <ul>
      <li *ngFor="let file of LINEAMIENTOS">
        <a href="">{{file}}</a>
      </li>
    </ul>
  </section>
</div>
