//Deskop
.desLogo>img{
    width: 250px;
    margin-left: 80px;
}
.desTitle>h2{
    font-size: 30px;
    padding-right: 300px;
}
.logoPdf{
    width:25px;
    padding-right: 5px;
   
}
.listPdf>a{
    font-size: 15px;
}
.desLeftTitle{
    padding-top: 100px;
}
.desLegal{
    margin-left: 150px;
}