<div style="width: 100%; height: 100vh;">
  <section class="topLogo d-flex d-lg-none">
    <img src="../../../assets/img/LogoMobile.png" alt="Logo IMA">
  </section>
  <section class="desSecction d-none d-lg-block">
    <div class="d-flex justify-content-between">
      <img class="desLogo" src="../../../assets/img/LogoDesktop.png" alt="Logo IMA">
      <img class="desIconFix" src="../../../assets/img/directorioDeskop.png" alt="Directory Icon">
    </div>
  </section>
  <section class="titleImage d-flex justify-content-end d-lg-none">
    <img src="../../../assets/img/directory.png" alt="acerca de nosotros">
  </section>
  <section class="titleCard">
    <h2 class="rightTitle d-flex d-lg-none">Directorio</h2>
    <div class="desTitle my-4 d-none d-lg-block">
      <h2>Directorio</h2>
    </div>
    <h3>Funcionarios</h3>
    <div>
      <p placement="right" [adaptivePosition]="true" [popover]="popTemplate" [outsideClick]="true">
        <span>Presidenta:</span> Cecilia Azar Manzur</p>
    </div>
    <ng-template #popTemplate>
      <app-directory-popover></app-directory-popover>
    </ng-template>
    <div>
      <p placement="right" [adaptivePosition]="true" [popover]="popTemplate" [outsideClick]="true"><span>Director
          General:</span> Victor Ruiz Barbosa</p>
    </div>
    <ng-template #popTemplate>
      <app-directory-popover></app-directory-popover>
    </ng-template>
  </section>
  <section class="rightBorderCard">
    <h2 class="leftTitle">Miembros</h2>
    <ul *ngFor="let nombre of nombres">
      <li>{{nombre}}</li>
    </ul>
  </section>
  <section class="rightBorderCard">
    <h2 class="leftTitle">Expresidentes</h2>
    <ul *ngFor="let nombre of nombres">
      <li>{{nombre}}</li>
    </ul>
  </section>
</div>
