//Deskop
.desLogo>img{
    width: 250px;
    margin-left: 80px;
}
.desPost{
    margin-left: 250px;
}
@media only screen and (min-width: 1000px) {
    .rightTitle{
        font-size: 30px;
        text-align: left;
        margin: 1em;
    }    
  }