<mat-drawer-container class="mainContainer" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" class="navbarContainer">
    <section class="mainMenu">
      <article class="areasSection">
        <div class="logoNavbar">
          <img src="../assets/img/LogoMobile.png" alt="Logo Instituto Mexicano del Arbitraje">
        </div>
        <div class="listaAreas">
          <ul>
            <li><a [routerLink]="['/']" (click)="drawer.toggle()">Inicio</a></li>
            <li><a [routerLink]="['/quienes-somos']" routerLinkActive="active-link" (click)="drawer.toggle()">Quienes
                Somos</a></li>
            <li><a [routerLink]="['/directorio']" routerLinkActive="active-link"
                (click)="drawer.toggle()">Directorio</a></li>
            <li><a [routerLink]="['/marco-legal']" routerLinkActive="active-link" (click)="drawer.toggle()">Marco
                Legal</a></li>
            <li><a [routerLink]="['/reglamentos-arbitrales']" routerLinkActive="active-link"
                (click)="drawer.toggle()">Reglamentos Arbitrales</a></li>
            <li><a [routerLink]="['/publicaciones']" routerLinkActive="active-link"
                (click)="drawer.toggle()">Publicaciones</a></li>
            <li><a [routerLink]="['/posturas']" routerLinkActive="active-link" (click)="drawer.toggle()">Posturas</a>
            </li>
            <li><a [routerLink]="['videos']" routerLinkActive="active-link" (click)="drawer.toggle()">Videos</a></li>
            <li><a [routerLink]="['/podcast']" routerLinkActive="active-link" (click)="drawer.toggle()">Podcast</a></li>
            <li><a [routerLink]="['/contacto']" routerLinkActive="active-link" (click)="drawer.toggle()">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Haz una busqueda..." required>
          <div class="search-icon"></div>
        </div>
      </article>
      <article class="iconSection">
        <div class="closeNavbar">
          <img src="../assets/img/close.png" alt="close button" (click)="drawer.toggle()">
        </div>
        <div class="areasIcons">
          <ul>
            <li><a [routerLink]="['/']" (click)="drawer.toggle()"><i class="fas fa-home"></i></a></li>
            <li><a [routerLink]="['/quienes-somos']" (click)="drawer.toggle()"><i class="fas fa-users"
                  routerLinkActive="active-icon"></i></a></li>
            <li><a [routerLink]="['/directorio']" (click)="drawer.toggle()"><i class="far fa-address-book"
                  routerLinkActive="active-icon"></i></a></li>
            <li><a [routerLink]="['/marco-legal']" (click)="drawer.toggle()"><i class="fas fa-file-signature"
                  routerLinkActive="active-icon"></i></a>
            </li>
            <li><a [routerLink]="['/reglamentos-arbitrales']" (click)="drawer.toggle()"><i
                  class="fas fa-file-invoice-dollar" routerLinkActive="active-icon"></i></a></li>
            <li><a [routerLink]="['/publicaciones']" (click)="drawer.toggle()"><i class="fas fa-file-invoice"
                  routerLinkActive="active-icon"></i></a>
            </li>
            <li><a [routerLink]="['/posturas']" (click)="drawer.toggle()"><i class="fas fa-people-carry"
                  routerLinkActive="active-icon"></i></a></li>
            <li><a [routerLink]="['videos']" (click)="drawer.toggle()"><i class="fas fa-play"
                  routerLinkActive="active-icon"></i></a></li>
            <li><a [routerLink]="['/podcast']" (click)="drawer.toggle()"><i class="fas fa-podcast"
                  routerLinkActive="active-icon"></i></a></li>
            <li><a [routerLink]="['/contacto']" (click)="drawer.toggle()"><i class="fas fa-at"
                  routerLinkActive="active-icon"></i></a></li>
          </ul>
        </div>
        <div class="socialIcons">
          <ul>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </article>
    </section>
  </mat-drawer>
  <mat-drawer-content class="mainContentContainer">
    <nav>
      <div class="open"><img src="../assets/img/open.png" alt="open navbar" (click)="drawer.toggle()"></div>
    </nav>
    <section>
      <main>
        <div class="d-none d-lg-block">
          <p>HOLA XD</p>
        </div>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <p>Todos los derechos reservados</p>
        <div>
          <a href=""><i class="fab fa-twitter-square"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
      </footer>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
