$primary-blue-text: #065674;
$primary-gray:#F0F0F0;
$secondary-gray:#E4E4E4;

section {
  height: 90vh;
}

h2 {
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
  margin-left: 1em;
}

.imgLogoHome {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  margin-left: 2em;
}

.imgLogoHome>img {
  width: 200px;
}

.desLogo>img{
  width: 330px;
}

.parrafosHome {
  padding: 1em 2em 0 4em;
  text-align: justify;
  margin-bottom: 1em;
}

.parrafosHome>p {
  color: $primary-blue-text;
}

@media only screen and (min-width: 1000px) {
  .parrafosHome{
    // border: solid 1px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 90%;
    margin-left: 100px;
  }
  .parrafosHome>p{
    font-size: 16px;
    margin-right: 100px;
  }
  .desArticle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    
  }
  .desArticle>h2{
    padding-left: 5.5em;
    margin: 1em 0;
  }
  
}

