<div style="height: 100vh;">
  <section class="topLogo d-block d-lg-none">
    <img src="../../../assets/img/LogoMobile.png" alt="Logo IMA">
  </section>
  <section class="desSecction d-none d-lg-block">
      <div class="d-flex justify-content-between">
        <img class="desLogo" src="../../../assets/img/LogoDesktop.png" alt="Logo IMA">
        <img class="desIconFix" src="../../../assets//img/contactoDes.png" alt="">
      </div>
    </section>
  <section class="titleImage d-flex justify-content-end d-lg-none">
    <img src="../../../assets/img/videos.png" alt="acerca de nosotros">
  </section>
  <section class="titleCard d-block d-lg-none">
    <h2 class="rightTitle">Contacto</h2>
    <div class="container d-block d-lg-none">  
      <form id="contact" action="" method="post">
        <h3>Contactanos!</h3>
        <h4>Responderemos a la brevedad.</h4>
        <fieldset>
          <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Email" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input placeholder="Telefono" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
          <textarea placeholder="Mensaje" tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>  
    </div>
  </section>


  <section class="desForm d-none d-lg-block">
    <h2 class="rightTitle">Contactanos</h2>
    <div class="container">  
      <form id="contact" action="" method="post">
        <h3>Contactanos!</h3>
        <h4>Responderemos a la brevedad.</h4>
        <fieldset>
          <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Email" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input placeholder="Telefono" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
          <textarea placeholder="Mensaje" tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>   
    </div>
  </section>
</div>
