<section *ngIf="selected">
    <article class="d-flex mb-3">
        <div>
            <img [src]="selected.photo" alt="nombre usuario" style="width: 120px; height: 160px; object-fit: cover;">
        </div>
        <div class="d-flex flex-column justify-content-end ml-2">
            <p class="m-0">{{selected.name}}</p>
            <a href="" style="display: block;"><i></i>{{selected.twitter}}</a>
            <a href=""><i></i>{{selected.linkedin}}</a>
        </div>
    </article>
    <article>
        <p>{{selected.description}}</p>
    </article>
</section>
