<section>
    <article>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <a href=""><i></i> @something</a>
            <a href=""><i></i> linkedin.com</a>
        </div>
    </article>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, magni amet voluptas minus, at dicta earum veritatis modi sunt, eum ex? Nostrum dolorem totam ducimus quidem, illum eveniet unde veritatis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit facere vitae fugiat expedita maxime iusto omnis? Obcaecati nihil iste odit expedita eum sapiente ratione, ut itaque amet dolores delectus incidunt?</p>
    </article>
</section>