<div>
  <section class="topLogo">
    <img src="../../../assets/img/LogoMobile.png" alt="Logo IMA">
  </section>
  <section class="titleImage">
    <img src="../../../assets/img/about-us.png" alt="acerca de nosotros">
  </section>
  <section class="titleCard">
    <h2 class="rightTitle">Quiénes Somos</h2>
    <p>El Instituto Mexicano del Arbitraje (IMA) es una asociación civil mexicana comprometida con el fomento, la utilización y la cultura del arbitraje, así como de los mecanismos alternativos para la solución de controversias.</p>
    <p>Consciente de la importancia y trascendencia de su misión, el IMA se abre camino con profesionistas del más alto nivel de especialización y con destacadas participaciones en el ámbito del derecho arbitral.</p>
  </section>
  <section class="rightBorderCard">
    <h2 class="leftTitle">Filosofía</h2>
    <p>La combinación de esfuerzos y conocimientos de nuestros miembros están encaminados, entre otros, a los siguientes objetivos:</p>
    <ul>
      <li>La generación y fomento del conocimiento del derecho arbitral y de otros mecanismos alternativos de solución de controversias mediante la organización de seminarios y conferencias, la preparación y publicación de estudios y textos, y el intercambio de información con otras instituciones y asociaciones nacionales e internacionales, entre otros.</li>
      <li>La promoción de la utilización del arbitraje como medio alternativo de solución de controversias, buscando de esa forma la armonización del derecho arbitral, reglamentos arbitrales, criterios, resoluciones y otros temas en materia arbitral, sin excluir a los diferentes mecanismos alternativos de solución de controversias, así como también el asesoramiento de gobiernos, institutos, organismos, la judicatura o agentes públicos, sociales o privados interesados en temas relacionados con el IMA.</li>
      <li>En general, llevar a cabo todas las actividades y acciones para impulsar el derecho arbitral y el de mecanismos alternativos de solución de controversias.</li> 
    </ul>
  </section>
</div>
