<div>
  <section class="topLogo d-block d-lg-none">
    <img src="../../../assets/img/LogoMobile.png" alt="Logo IMA">
  </section>
  <section class="desSecction d-none d-lg-block">
      <div class="d-flex justify-content-between">
        <img class="desLogo" src="../../../assets/img/LogoDesktop.png" alt="Logo IMA">
        <img class="desIconFix" src="../../../assets//img/posturasDes.png" alt="">
      </div>
    </section>
  <section class="titleImage d-flex justify-content-end d-lg-none">
    <img src="../../../assets/img/postures.png" alt="acerca de nosotros">
  </section>
  <section class="titleCard d-block d-lg-none">
    <h2 class="rightTitle">Posturas</h2>
  </section>
  <section class="rightBorderCard d-block d-lg-none">
    <ul>
      <li *ngFor="let posture of postures">
        <a href="">{{posture}}</a>
      </li>
    </ul>
  </section>

  <section class=" d-none d-lg-block">
      <h2 class="rightTitle">Posturas</h2>
    </section>
    <section class=" d-none d-lg-block">
      <ul>
        <li *ngFor="let posture of postures">
          <a class="desPost" href="">{{posture}}</a>
        </li>
      </ul>
    </section>

</div>
